tls:
  stores:
    default:
      defaultCertificate:
        certFile: {{ terrarium_traefik_config_dir }}/bootstrap-certs/terrarium-bootstrap.crt
        keyFile: {{ terrarium_traefik_config_dir }}/bootstrap-certs/terrarium-bootstrap.key
