api: {}

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  bootstrapweb:
    address: "127.0.0.1:18080"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ terrarium_acme_email }}
      storage: /var/lib/traefik/acme.json
      tlsChallenge: {}

log:
  level: INFO
