services:
  oauth2-proxy:
    image: {{ terrarium_oauth2_proxy_image }}
    user: "0:0"
    network_mode: host
    restart: unless-stopped
{% if terrarium_idp_mode == 'local' %}
    environment:
      SSL_CERT_FILE: /etc/ssl/certs/terrarium-ca-certificates.crt
{% endif %}
    command:
      - --config=/etc/oauth2-proxy/oauth2-proxy.cfg
    volumes:
      - "{{ terrarium_oauth2_proxy_dir }}/oauth2-proxy.cfg:/etc/oauth2-proxy/oauth2-proxy.cfg:ro"
{% if terrarium_idp_mode == 'local' %}
      - "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/terrarium-ca-certificates.crt:ro"
{% endif %}
