services:
  oauth2-proxy:
    image: {{ terrarium_oauth2_proxy_image }}
    user: "0:0"
    network_mode: host
    restart: unless-stopped
    command:
      - --config=/etc/oauth2-proxy/oauth2-proxy.cfg
    volumes:
      - "{{ terrarium_oauth2_proxy_dir }}/oauth2-proxy.cfg:/etc/oauth2-proxy/oauth2-proxy.cfg:ro"
