provider = "oidc"
provider_display_name = "Terrarium"
http_address = "0.0.0.0:{{ terrarium_oauth2_proxy_port }}"
redirect_url = "https://{{ terrarium_manage_domain }}/oauth2/callback"
oidc_issuer_url = "{{ terrarium_oauth2_proxy_oidc_issuer }}"
oidc_groups_claim = "groups"
client_id = "{{ terrarium_oauth2_proxy_client_id }}"
client_secret = "{{ terrarium_oauth2_proxy_client_secret }}"
cookie_secret = "{{ terrarium_oauth2_proxy_cookie_secret }}"
cookie_secure = true
cookie_domains = [ "{{ terrarium_oauth2_proxy_cookie_domain }}" ]
whitelist_domains = [ "{{ terrarium_manage_domain }}", "{{ terrarium_proxy_domain }}", "{{ terrarium_oauth2_proxy_cookie_domain }}" ]
email_domains = [ "*" ]
allowed_groups = [ "{{ terrarium_admin_group }}" ]
upstreams = [ "static://202" ]
scope = "openid profile email"
reverse_proxy = true
code_challenge_method = "S256"
skip_provider_button = true
set_xauthrequest = true
pass_authorization_header = true
pass_user_headers = true
pass_access_token = false
skip_jwt_bearer_tokens = true
ssl_insecure_skip_verify = false
