[Unit]
Description=Terrarium oauth2-proxy stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ terrarium_oauth2_proxy_dir }}
ExecStart=/usr/bin/docker compose --project-name terrarium-oauth2-proxy -f {{ terrarium_oauth2_proxy_dir }}/docker-compose.yml up -d --wait --remove-orphans
ExecStop=/usr/bin/docker compose --project-name terrarium-oauth2-proxy -f {{ terrarium_oauth2_proxy_dir }}/docker-compose.yml down
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
