[{{ terrarium_sanoid_recursion_root }}]
        use_template = terrarium
        recursive = yes
        process_children_only = yes

[template_terrarium]
        frequently = 0
        hourly = 24
        daily = 14
        monthly = 3
        yearly = 0
        autosnap = yes
        autoprune = yes
