[Unit]
Description=Replicate Terrarium datasets with syncoid
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/syncoid --recursive --no-sync-snap --sshkey {{ terrarium_syncoid_ssh_key }} {{ terrarium_lxd_pool_name }}/containers {{ terrarium_syncoid_target }}:{{ terrarium_syncoid_target_dataset }}
