config:
  security.idmap.isolated: "true"
  security.nesting: "true"
  security.syscalls.intercept.mknod: "true"
  security.syscalls.intercept.setxattr: "true"
description: Terrarium default container profile
devices:
  eth0:
    name: eth0
    network: {{ terrarium_lxd_network_name }}
    type: nic
  root:
    path: /
    pool: {{ terrarium_lxd_pool_name }}
    type: disk
name: default
