config:
  cloud-init.vendor-data: |
    #cloud-config
    users:
      - name: terrarium
        gecos: Terrarium Container User
        groups: users
        lock_passwd: true
        shell: /bin/bash
        sudo: []
    packages:
      - python3-full
      - python3-venv
    runcmd:
      - mkdir -p /home/terrarium/.venvs
      - test -x /home/terrarium/.venvs/hermes/bin/python || python3 -m venv /home/terrarium/.venvs/hermes
      - chown -R terrarium:terrarium /home/terrarium/.venvs
      - grep -qxF 'export PATH="$HOME/.venvs/hermes/bin:$PATH"' /home/terrarium/.profile || printf '%s\n' 'export PATH="$HOME/.venvs/hermes/bin:$PATH"' >> /home/terrarium/.profile
      - grep -qxF 'export PATH="$HOME/.venvs/hermes/bin:$PATH"' /home/terrarium/.bashrc || printf '%s\n' 'export PATH="$HOME/.venvs/hermes/bin:$PATH"' >> /home/terrarium/.bashrc
  security.idmap.isolated: "true"
  security.nesting: "true"
  security.syscalls.intercept.mknod: "true"
  security.syscalls.intercept.setxattr: "true"
description: Terrarium default container profile
devices:
  eth0:
    name: eth0
    network: {{ terrarium_lxd_network_name }}
    type: nic
  root:
    path: /
    pool: {{ terrarium_lxd_pool_name }}
    type: disk
name: default
