config:
  cloud-init.vendor-data: |
    #cloud-config
    users:
      - name: terrarium
        gecos: Terrarium Container User
        groups: users
        lock_passwd: true
        shell: /bin/bash
        sudo: []
    packages:
      - python3-full
      - python3-venv
    runcmd:
      - mkdir -p /home/terrarium/.venvs
      - test -x /home/terrarium/.venvs/default/bin/python || python3 -m venv /home/terrarium/.venvs/default
      - chown -R terrarium:terrarium /home/terrarium/.venvs
      - grep -qxF 'export PATH="$HOME/.venvs/default/bin:$PATH"' /home/terrarium/.profile || printf '%s\n' 'export PATH="$HOME/.venvs/default/bin:$PATH"' >> /home/terrarium/.profile
      - grep -qxF 'export PATH="$HOME/.venvs/default/bin:$PATH"' /home/terrarium/.bashrc || printf '%s\n' 'export PATH="$HOME/.venvs/default/bin:$PATH"' >> /home/terrarium/.bashrc
  cloud-init.user-data: |
    #cloud-config
    write_files:
      - path: /etc/sudoers.d/90-terrarium-dev
        owner: root:root
        permissions: "0440"
        content: |
          terrarium ALL=(ALL) NOPASSWD:ALL
  security.idmap.isolated: "true"
  security.nesting: "true"
  security.syscalls.intercept.mknod: "true"
  security.syscalls.intercept.setxattr: "true"
description: Terrarium development container profile with Docker-friendly defaults and passwordless sudo
devices:
  eth0:
    name: eth0
    network: {{ terrarium_lxd_network_name }}
    type: nic
  root:
    path: /
    pool: {{ terrarium_lxd_pool_name }}
    type: disk
name: dev
