config:
  core.https_address: 127.0.0.1:8443
networks:
  - name: {{ terrarium_lxd_network_parent }}
    type: bridge
    config:
      ipv4.address: {{ terrarium_lxd_parent_ipv4 }}
      ipv4.dhcp.ranges: {{ terrarium_lxd_parent_dhcp_range }}
      ipv4.ovn.ranges: {{ terrarium_lxd_parent_ovn_range }}
      ipv4.nat: "true"
      ipv6.address: none
storage_pools:
  - name: {{ terrarium_lxd_pool_name }}
    driver: zfs
    config:
      source: {{ terrarium_lxd_pool_name }}
profiles:
  - name: default
    description: Terrarium default container profile
    config:
      cloud-init.vendor-data: |
        #cloud-config
        users:
          - name: terrarium
            gecos: Terrarium Container User
            groups: users
            lock_passwd: true
            shell: /bin/bash
            sudo: []
      security.idmap.isolated: "true"
      security.nesting: "true"
      security.syscalls.intercept.mknod: "true"
      security.syscalls.intercept.setxattr: "true"
    devices:
      eth0:
        type: nic
        name: eth0
        network: {{ terrarium_lxd_network_parent }}
      root:
        type: disk
        path: /
        pool: {{ terrarium_lxd_pool_name }}
cluster: null
