OVN_CTL_OPTS="--db-nb-addr={{ terrarium_ovn_local_address }} --db-nb-create-insecure-remote=yes --db-sb-addr={{ terrarium_ovn_local_address }} --db-sb-create-insecure-remote=yes{% if terrarium_ovn_local_address != terrarium_ovn_central_addresses[0] %} --db-nb-cluster-remote-addr={{ terrarium_ovn_central_addresses[0] }} --db-sb-cluster-remote-addr={{ terrarium_ovn_central_addresses[0] }}{% endif %} --db-nb-cluster-local-addr={{ terrarium_ovn_local_address }} --db-sb-cluster-local-addr={{ terrarium_ovn_local_address }} --ovn-northd-nb-db={{ terrarium_ovn_northbound_connection }} --ovn-northd-sb-db={{ terrarium_ovn_southbound_connection }}"
