config:
  cloud-init.vendor-data: |
    #cloud-config
    users:
      - name: terrarium
        gecos: Terrarium Container User
        groups: users
        lock_passwd: true
        shell: /bin/bash
        sudo: []
  security.idmap.isolated: "true"
description: Terrarium stricter container profile without Docker-friendly nesting
devices:
  eth0:
    name: eth0
    network: {{ terrarium_lxd_network_name }}
    type: nic
  root:
    path: /
    pool: {{ terrarium_lxd_pool_name }}
    type: disk
name: strict
